In [15]:
# 2000년 1월 1일부터 날수 세기
def julian(year,month,day):
    if year>=2000 and year <2024:
        days=0
        days=days*365
        if month>=1 and month<=12:
            days=days*30
            if day>=1 and day<=30:
                days=days+1
        return 100
    else:
        return -999
    
        
days=julian(2024,4,8)
print("{}번째 날입니다".format(days))

#인풋 숫자끼리 맞추고 아웃풋 숫자=리턴 숫자

-999번째 날입니다

In [16]:
# 2000년 1월 1일부터 날수 세기
def julian(year,month,day):
    if year>=2000 and year <2024:
        days=0
        days=days*365
        if month>=1 and month<=12:
            days=days*30
            if day>=1 and day<=30:
                days=days+1
        return 100
    else:
        return -999
    
        
days=julian(2023,4,8)
print("{}번째 날입니다".format(days))

#year의 범위가 포함되어있어서.함수를 짜놓으면 할때마다 바꿀 필요 없다

100번째 날입니다

In [20]:
# 2000년 1월 1일부터 날수 세기
def julian(year,month,day):
    if year>=2000 and year <2024:
        return (year-2000)*365 + (month-1)*30 + (day-1) #2000.1.1을 1일로 시작.달은 안지나서 빼기

    else:
        return -999
    
        
days=julian(2023,4,8)
print("{}번째 날입니다".format(days))

#year의 범위가 포함되어있어서.함수를 짜놓으면 할때마다 바꿀 필요 없다

8492번째 날입니다

In [23]:
# 2000년 1월 1일부터 날수 세기
def julian(year,month,day):
    if year>=2000 and year <2024:
        jdays = 0
        jdays = (year-2000)*365 #윤년 제외 년수 측정

        for m in range(1,month):
            if m ==1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12: 
                jdays = jdays + 31
            elif m== 2:
                jdays = jdays + 28
            else:
                jdays = jdays + 30
            

        
        
        return jdays
    else:
        return -999
    
        
days=julian(2023,5,1) #jdays의 값이 됨.
print("{}번째 날입니다".format(days))

#year의 범위가 포함되어있어서.함수를 짜놓으면 할때마다 바꿀 필요 없다

8515번째 날입니다

In [43]:
# 2000년 1월 1일부터 날수 세기
def julian(year,month,day):
    if year>=2000 and year <2024:
        jdays = 0

        for y in range(2000,year): #윤년 계산
            if y%4 ==0 and y%100 !=0 or y%400 ==0:
                jdays+= 366
            else:
                jdays+= 365
        
        for m in range(1,month):
            if m ==4 or m==6 or m==9 or m==11: #30일인 달을 모은 것.
                jdays = jdays + 30
            elif m== 2:
                if year%4 ==0 and year%100 !=0 or year%400 ==0:
                    jdays = jdays + 29
                else:
                    jdays = jdays + 28
            else:
                jdays = jdays + 31
        jdays += day #지정한 달의 일수
        return jdays
    else:
        return -999
    
    
days=julian(2000,1,1) #jdays의 값이 됨.
print("{}번째 날입니다".format(days))

#year의 범위가 포함되어있어서.함수를 짜놓으면 할때마다 바꿀 필요 없다

208번째 날입니다

In [47]:
# 2000년 1월 1일부터 날수 세기
def julian(year,month,day):
    if year>=2000 and year <2024:
        jdays = 0

        for y in range(2000,year): #윤년 계산
            if y%4 ==0 and y%100 !=0 or y%400 ==0:
                jdays+= 366
            else:
                jdays+= 365
        
        for m in range(1,month):
            if m ==4 or m==6 or m==9 or m==11: #30일인 달을 모은 것.
                jdays = jdays + 30
            elif m== 2:
                if year%4 ==0 and year%100 !=0 or year%400 ==0:
                    jdays = jdays + 29
                else:
                    jdays = jdays + 28
            else:
                jdays = jdays + 31
        jdays += day #지정한 달의 일수
        return jdays
    else:
        return -999
    
a,b,c = map(int,input("생년월일을 입력하시오.").split())        
days=julian(a,b,c) #jdays의 값이 됨.
print("{}번째 날입니다".format(days))

#year의 범위가 포함되어있어서.함수를 짜놓으면 할때마다 바꿀 필요 없다

생년월일을 입력하시오. 2005 1 28

1855번째 날입니다

class 연습

In [50]:
class Vector2D: # 그냥 스칼라 값임
    def __init__(self, x, y): #self가 a임.
        self.x = x
        self.y = y

    def mult(self,other):
        return self.x*other.x, self.y*other.y 

    def __str__(self):
        return "({},{})".format(self.x, self.y)


def vect_mul(v1,v2): 
    v3 = v1.mult(v2) #mult는 곱하깅를 부름 즉 클래스변수도 알아서 잘 부름. self=v1,input인 v2가 other.
    return v3
    
a = Vector2D(10, 20) #Vector2D라는 클래스 변수를 사용. init로 들어감.
b = Vector2D(2, 3)


print(vect_mul(a,b)) #str를 부름.?

(20, 60)

In [2]:
#과제
#한 줄 씩 설명, 어떤 변수가 들어가는지 적어라.
class Vector2D: # 그냥 스칼라 값임
    def __init__(self, x, y): #self가 a임.
        self.x = x
        self.y = y

    def mult(self,other):
        return self.x*other.x, self.y*other.y 

    def __str__(self):
        return "({},{})".format(self.x, self.y)


def vect_mul(v1,v2): 
    v3 = v1.mult(v2) #mult는 곱하깅를 부름 즉 클래스변수도 알아서 잘 부름. self=v1,input인 v2가 other.
    return v3        # v1.x*v2.x, v1.y*n2.y의 식이 형성됨
    
a = Vector2D(10, 20) #Vector2D라는 클래스 변수를 사용. init로 들어감.
#class Vector2D를 불러서 def __init__(a, 10, 20)이 입력됨
#a.x = 10, a.y = 20으로 저장됨.

b = Vector2D(2, 3)
#class Vector2D를 불러서 def __init__(b, 2, 3)이 입력됨
#b.x = 2, b.y = 3으로 저장됨.

print(vect_mul(a,b)) #str를 부름.?
#vect_mul(a,b)는 def vect_mul(v1,v2)이 함수를 부르며 def vect_mul(a,b)로 입력이 됨.
#v3 = v1.mult(v2)의 식은 class Vector2D에 입력되어있는 def mult(self,other) 함수를 부름.
#def mult(a,b)로 입력되어 return a.x*b.x, a.y*b.y 로 계산됨. 그리고 그 결과 값을 v3으로 return.
#따라서 10*2, 20*3의 결과값이 출력됨.

(20, 60)

'vect_mul(a,b)는 def vect_mul(v1,v2)이 함수를 부르며 def vect_mul(a,b)로 입력이 됨.\nv3 = v1.mult(v2)의 식은 class Vector2D에 입력되어있는 def mult(self,other) 함수를 부름.\ndef mult(a,b)로 입력되어 return a.x*b.x, a.y*b.y 로 계산됨. 그리고 그 결과 값을 v3으로 return.'